<% layout('layouts/boilerplate')%>
    <div class="row mb-4">
        <div class="col-6" style="min-width: 300px;">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <h1>New Campground</h1>
                <div class=mb-3>
                    <label class=form-label for="title">Title: </label>
                    <input class=form-control type="text" name="campground[title]" id="title" value="<%=campground.title%>">
                </div>
                <div class=mb-3>
                    <label class=form-label for="location">Location: </label>
                    <input class=form-control type="text" name="campground[location]" id="location" value="<%=campground.location%>">
                </div>
                <div class=mb-3>
                    <label class=form-label for="image">Image Url: </label>
                    <input class=form-control type="text" name="campground[image]" id="location" value="<%=campground.image%>">
                </div>
                <div class="mb-3">
                    <label class=form-label for="image">Price: </label>
                    <div class=input-group>
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id=price name="campground[price]" aria-label="price" value="<%=campground.price%>">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class=mb-3>
                    <label class=form-label for="description">Description: </label>
                    <textarea class=form-control type="text" name="campground[description]"><%= campground.description %></textarea>
                </div>
                <input class="btn btn-info" type=submit>
                <a class="btn btn-secondary" href="/campgrounds/<%= campground._id %> ">back to campground</a>
            </form>
        </div>
    </div>
